@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Hack);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
    font-family: 'Lato';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }

.footnote {
    position: absolute;
    bottom: 3em;
    text-align: left;
}

li p { line-height: 1.25em; }
.red { color: #fa0000; }
.green { color: #0bcb00; }
.blue { color: #001bcb; }
.large { font-size: 2em; }

a, a > code {
    color: rgb(249, 38, 114);
    text-decoration: none;
}
.footnote {
    position: absolute;
    bottom: 3em;

}

img {
    max-width: 100%;
}

code {
    background: #e7e8e2;
    border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Hack'; }

.sky-background {
    background-image: radial-gradient(#f4f9fb, #afd7e3);
    background-size: cover;
}

.grey-background {
    background-image: radial-gradient(#f0f0f0, #c8c8c8);
    background-size: cover;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    border: 1px solid black;
}

.center-left {
    position:          relative;
    top:               50%;
    transform:         translateY(50%);
}
